#cloud-config
hostname: ${vm_hostname}
%{ if qemu_agent }
packages:
  - qemu-guest-agent
%{ endif }
package_update: true
package_upgrade: true
package_reboot_if_required: true
users:
  - name: ${vm_username}
    groups: sudo
    shell: /bin/bash
    sudo: ALL=(ALL) NOPASSWD:ALL
%{ if sshkeys != null }
    ssh-authorized-keys:
      ${yamlencode(sshkeys)}
%{ endif }
%{ if qemu_agent }
runcmd:
  - systemctl enable qemu-guest-agent
  - systemctl start --no-block qemu-guest-agent
%{ endif }